.section-wrap {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding-top   : 50px;
  padding-bottom: 50px;

  text-align: center;
}

.title {
  margin-bottom: 42px;

  font-size  : 30px;
  color      : #1f1f24;
  font-weight: 900;
}

.my-skills {
  background-color: #ffffff;
}

.my-skills__title {
  margin-bottom: 48px;

  line-height: 23px;
}

.skills-list {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding       : 0 14%;

  line-height: 24px;
  text-align : center;
}

.skills-list__item {
  display      : flex;
  align-items  : flex-end;
  min-height   : 115px;
  margin-bottom: 52px;

  background-image   : url("../img/png/tools.png");
  background-image   : url("../img/webp/tools.webp");
  background-repeat  : no-repeat;
  background-position: center top;
  background-size    : 60px 60px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .skills-list__item {
    background-image: url("../img/png/tools@2.png");
    background-image: url("../img/webp/tools@2.webp");
  }
}

.skills-list__item:nth-child(2) {
  background-image: url("../img/png/responsive.png");
  background-image: url("../img/webp/responsive.webp");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .skills-list__item:nth-child(2) {
    background-image: url("../img/png/responsive@2.png");
    background-image: url("../img/webp/responsive@2.webp");
  }
}

.skills-list__item:nth-child(3) {
  background-image: url("../img/png/programming.png");
  background-image: url("../img/webp/programming.webp");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .skills-list__item:nth-child(3) {
    background-image: url("../img/png/programming@2.png");
    background-image: url("../img/webp/programming@2.webp");
  }
}

.skills-list__item:last-child {
  /* min-height      : 125px; */
  background-image: url("../img/png/coding.png");
  background-image: url("../img/webp/coding.webp");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .skills-list__item:last-child {
    background-image: url("../img/png/coding@2.png");
    background-image: url("../img/webp/coding@2.webp");
  }
}

.gallery-section {
  background-color: #fbfbfb;
}

.gallery__items-wrap {
  margin-bottom: 45px;
  overflow     : hidden;
}

.gallery__items {
  position: relative;

  display: flex;
}

.gallery__items.no-js {
  min-height: auto;
}

.gallery__item {
  position: relative;
  top     : 0;

  cursor: pointer;
}

.gallery__item.no-js {
  position: relative;
  display : block;
  width   : auto;
  height  : auto;
}

.work__img {
  margin-bottom: 18px;
}

.work__title {
  font-size  : 18px;
  font-weight: 500;
}

.work__link {
  transition: all .3s linear;
}

.work__link:hover {
  border-bottom: 1px solid #ff4e2e;
  color        : #ff4e2e;
}

.gallery__bullets {
  margin-bottom: 45px;
}

.arrows-wrap {
  display: none;
}

.bullets__btn {
  width           : 10px;
  height          : 10px;
  border-radius   : 50%;
  background-color: #ebebeb;
}

.bullets__btn:not(:last-child) {
  margin-right: 15px;
}

.glide__bullet--active {
  background-color: #ff4e2e;
}

.rates {
  background: linear-gradient(to bottom, #ff2f96, #ff8b5d);
}

.rates__container {
  position: relative;

  padding-top   : 42px;
  padding-bottom: 42px;

  color: #ffffff;
}

.rates__symbols {
  display: none;
}

.rates__text {
  margin-bottom: 28px;

  font-size  : 28px;
  line-height: 40px;
  font-weight: 700;
}

.rates__desc {
  font-size  : 20px;
  line-height: 30px;
}

.rates__desc br {
  display: none;
}

@media(min-width: 768px) {
  .skills-list {
    flex-direction: row;
    flex-wrap     : wrap;

    padding: 0;
  }

  .skills-list__item {
    width          : 50%;
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: flex-end;
  }

  .skills-list__desc {
    max-width: 270px;
  }
}

@media(min-width: 1024px) {
  .section-wrap {
    padding-top   : 93px;
    padding-bottom: 110px;
  }

  .section-container {
    padding-top   : 100px;
    padding-bottom: 100px;
  }

  .title {
    margin-bottom: 95px;

    font-size  : 54px;
    line-height: 60px;
    color      : #262626;
    font-weight: 700;
  }

  .my-skills__wrap {
    padding-top: 85px;
  }

  .my-skills__items {
    margin-bottom: 14px;
  }

  .skills-list {
    padding: 0 9%;
  }

  .skills-list__item {
    margin-bottom: 90px;
  }

  .my-skills__title {
    margin-bottom: 90px;
  }

  .skills-list__item {
    min-height   : 143px;
    margin-bottom: 85px;

    background-image: url("../img/png/tools_tablet.png");
    background-image: url("../img/webp/tools_tablet.webp");
    background-size : 80px 75px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .skills-list__item {
      background-image: url("../img/png/tools_tablet@2.png");
      background-image: url("../img/webp/tools_tablet@2.webp");
    }
  }

  .skills-list__item:nth-child(2) {
    background-image: url("../img/png/responsive_tablet.png");
    background-image: url("../img/webp/responsive_tablet.webp");
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .skills-list__item:nth-child(2) {
      background-image: url("../img/png/responsive_tablet@2.png");
      background-image: url("../img/webp/responsive_tablet@2.webp");
    }
  }

  .skills-list__item:nth-child(3) {
    background-image: url("../img/png/programming_tablet.png");
    background-image: url("../img/webp/programming_tablet.webp");
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .skills-list__item:nth-child(3) {
      background-image: url("../img/png/programming_tablet@2.png");
      background-image: url("../img/webp/programming_tablet@2.webp");
    }
  }

  .skills-list__item:last-child {
    background-image: url("../img/png/coding_tablet.png");
    background-image: url("../img/webp/coding_tablet.webp");
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .skills-list__item:last-child {
      background-image: url("../img/png/coding_tablet@2.png");
      background-image: url("../img/webp/coding_tablet@2.webp");
    }
  }

  .skills-list__img {
    max-width    : 80px;
    margin-bottom: 14px;
  }

  .my-skills__btn {
    padding: 23px 84px;
  }

  .gallery__items-wrap {
    margin-bottom: 105px;
  }

  .work__title {
    font-size: 25px;
  }

  .btns-mobile-container {
    margin-bottom: 99px;
  }

  .bullets__btn {
    width : 18px;
    height: 18px;
  }

  .bullets__btn:not(:last-child) {
    margin-right: 30px;
  }

  .gallery__bullets {
    margin-bottom: 100px;
  }

  .rates {
    position: relative;

    background: linear-gradient(to bottom left, #ff2f96, #ff8b5d);
  }

  .rates__container {
    padding-top   : 70px;
    padding-bottom: 80px;
  }

  .rates__symbols {
    display: block;
  }

  .symbols_rates {
    font-size  : 25px;
    font-weight: 700;
    color      : #fff;
  }

  .rates__symbols-elem {
    position: absolute;
  }

  .symbols__elem_rates {
    background             : linear-gradient(to bottom, #fff, #fbfbfb);
    background-clip        : text;
    -webkit-text-fill-color: transparent;
  }

  .symbols__elem_rates-braces {
    top      : 16px;
    left     : 15%;
    transform: rotate(36deg);
    font-size: 35px;
  }

  .symbols__elem_rates-brackets {
    bottom   : 42px;
    right    : 9%;
    transform: rotate(-25deg);
    font-size: 41px;
  }

  .symbols__elem_rates-tag {
    bottom   : 36px;
    right    : 44%;
    transform: rotate(23deg);
  }

  .symbols__elem_rates-cell,
  .symbols__elem_rates-braces-2 {
    display: none;
  }

  .rates__text {
    margin-bottom: 29px;

    font-size     : 45px;
    line-height   : 60px;
    letter-spacing: -1px;
  }

  .rates__desc br {
    display: block;
  }
}

@media(min-width: 1200px) {
  .gallery-section__wrap {
    position: relative;
  }

  .my-skills__title {
    margin-bottom: 91px;
  }

  .my-skills__items {
    margin-bottom: 5px;
  }

  .skills-list {
    flex-wrap      : nowrap;
    justify-content: space-between;
    padding        : 0%;
    width          : 100%;
  }

  .skills-list__item {
    max-width          : 285px;
    min-height         : 176px;
    transition         : all .3s ease;
    margin-bottom      : 70px;
    padding            : 20px 0;
    background-position: center 10px;
  }

  .skills-list__item:hover {
    transform       : scale(1.5);
    background-color: #ffffff;
    z-index         : 5;
    box-shadow      : 15px 15px 10px rgba(0, 0, 0, 0.08),
      -15px -15px 10px rgba(0, 0, 0, 0.08),
      -15px 15px 10px rgba(0, 0, 0, 0.08),
      15px -15px 10px rgba(0, 0, 0, 0.08);
  }

  .my-skills__btn {
    padding: 20px 67px;
  }

  .gallery__items-wrap {
    margin-bottom: 95px;
  }

  .work__img {
    margin-bottom: 35px;
  }

  .work__title {
    font-size: 20px;
  }

  .gallery__bullets {
    display: none;
  }

  .arrows-wrap {
    display: block;
  }

  .arrows-wrap__btn {
    position : absolute;
    top      : 145px;
    transform: translateY(-30px);
  }

  .btn-arrow {
    width        : 60px;
    height       : 60px;
    border-radius: 50%;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    z-index   : 5;
  }

  .arrows-wrap__btn_left {
    left: -30px
  }

  .arrows-wrap__btn_right {
    right: -30px;
  }

  .btn-arrow_right {
    transform: translateY(-50%) rotate(180deg);
  }

  .btn-arrow:hover,
  .btn-arrow:focus {
    transform : translateY(-33px) scale(1.1);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.08);
    outline   : none;
  }

  .btn-arrow_right:hover,
  .btn-arrow_right:focus {
    transform: translateY(-33px) scale(1.1) rotate(180deg);
  }

  .btn-arrow:active {
    transform : translateY(-33px) scale(0.98);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
  }

  .btn-arrow_right:active {
    transform: translateY(-33px) scale(0.98) rotate(180deg);
  }

  .rates {
    overflow: hidden;
  }

  .rates__container {
    max-width     : 942px;
    padding-bottom: 80px;
  }

  .symbols__elem-rates {
    font-size: 36px;
  }

  .symbols__elem_rates-cell {
    left  : -182px;
    bottom: 59px;

    display  : block;
    transform: rotate(15deg);
  }

  .symbols__elem_rates-braces {
    top : 80px;
    left: -289px;
  }

  .symbols__elem_rates-braces-2 {
    right : -250px;
    bottom: 50px;

    display  : block;
    transform: rotate(-30deg);
  }

  .symbols__elem_rates-brackets {
    right: -211px;
    top  : 80px;

    display  : block;
    transform: rotate(-20deg);
  }

  .symbols__elem_rates-tag {
    right : -78px;
    bottom: 22px;
  }

  .rates__text {
    margin-bottom: 29px;
  }
}