.footer__container {
  display       : flex;
  flex-direction: column;
  padding-top   : 49px;
  padding-bottom: 49px;
}

.footer__nav {
  margin-bottom: 48px;
}

.footer__nav-list {
  display       : flex;
  flex-direction: column;

  font-size: 15px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer__contacts-list {
  margin-bottom: 24px;
}

.contacts {
  display       : flex;
  flex-direction: column;
  font-size     : 20px;
  font-weight   : 500;
}

.contacts__elem {
  transition: all .3s linear;
}

.contacts__elem:hover {
  color : #fc557c;
  cursor: pointer;
}

.contacts__item_tel {
  margin-bottom: 26px;
}

.contacts__item i {
  margin-right: 15px;

  font-size: 14px;
  cursor   : pointer;
}

.contacts__elem {
  transition: all .3s linear;
}

.contacts__elem:hover {
  color: #ff4e2e;
}


.footer__data {
  display       : flex;
  flex-direction: column;
}

.btn-callback-footer {
  letter-spacing: -1px;
}

.social {
  display: flex;
}

.social__item {
  display   : flex;
  width     : 40px;
  height    : 40px;
  transition: all .3s linear;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  position: relative;

  display        : flex;
  justify-content: center;
  align-items    : center;
  border-radius  : 50%;

  height     : 40px;
  width      : 40px;
  text-align : center;
  line-height: 40px;

  transition: all ease 0.2s;
}

.social__link::after {
  content      : "";
  position     : absolute;
  top          : 0;
  bottom       : 0;
  left         : 0;
  right        : 0;
  margin       : auto;
  height       : 100%;
  width        : 100%;
  z-index      : -1;
  border-radius: 50%;
}

.social__link:hover {
  color    : #fff;
  font-size: 18px;
}

.social__link:hover::after {
  animation: animate ease 0.6s forwards;
}

.social__link_vk:hover::after {
  background-color: #45668e;
}

.social__link_fb:hover::after {
  background-color: #3b5998;
}

.social__link_tw:hover::after {
  background-color: #00aced;
}

.social__link_inst:hover:after {
  background-color: #8a3ab9;
}

.footer__copyright {
  padding-top   : 13px;
  padding-bottom: 17px;

  color     : #ffffff;
  text-align: center;

  background-color: #31293c;
}

.footer__copyright small {
  font-size: 12px;
}

@keyframes animate {

  0%,
  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1.1);
  }

  50% {
    transform    : scale(1);
    border-radius: 10px;
  }

  60%,
  100% {
    border-radius: 5px;
  }
}

@media(max-width:1023px) {
  .footer .btn-callback {
    align-self   : center;
    border-radius: 0;
    width        : auto;
    height       : auto;
    margin-bottom: 54px;
    padding      : 19px 84px;

    color    : #ffffff;
    font-size: 16px;

    background      : none;
    background-color: #ff4e2e;
  }
}

@media(min-width: 768px) {
  .footer__container {
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-between;
  }
}

@media(min-width: 1024px) {
  .footer__nav-list {
    font-size: 18px;
  }

  .footer__nav-item {
    margin-bottom: 16px;
  }

  .contacts {
    font-size: 25px;
    color    : #000000;
  }

  .contacts__item_tel {
    margin-bottom: 34px;
  }

  .footer-data-container {
    width: auto;
  }

  .btn-callback-footer {
    margin-bottom: 35px;
    padding      : 16px 61px;

    letter-spacing: 0px;
  }

  .footer__copyright {
    padding-top   : 33px;
    padding-bottom: 33px;
  }

  .footer__copyright small {
    font-size: 16px;
  }
}