.overlay {
  position: absolute;

  display: none;
  width  : 100vw;
  height : 100vh;

  background-color: rgba(0, 0, 0, 0.5);
  z-index         : 20;
}

.overlay_active {
  display: block;
}

.overlay .form {
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;

  margin: auto;
}

.overlay_active .form {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 250px;
  height         : 300px;

  font: inherit;

  background-color: #fff;
  box-shadow      : 1px 1px 6px rgba(0, 0, 0, 0.3);

  animation         : fadeInDownBig;
  animation-duration: .4s;
}

.overlay_active .form_mail {
  height: 350px;
}

.form__fieldset {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  border        : none;
}

.form__fieldset div {
  position: relative;
}

.form__elem {
  margin: 0 auto;

  text-align: center;
}

.form__elem:not(:last-child) {
  margin-bottom: 10px;
}

.form__input,
.form__label {
  font: inherit;
}

.form__btn_submit {
  padding  : 10px 10px;
  min-width: 150px;
}

.form__btn_close {
  position: absolute;
  top     : 10px;
  right   : 10px;

  width : 25px;
  height: 25px;

  font-size  : 20px;
  font-weight: 400;
}

.form__desc {
  position: absolute;
  bottom  : 15px;
}

.form__field_err {
  border: 2px solid red;
}

.form__submit_active {
  position: relative;

  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 105px;
  height         : 105px;
  border         : 2px solid #fff;
  border-radius  : 50%;

  animation: fill .5s ease-out 1.5s forwards;
}

.form__circle,
.form__img {
  display: none;
}

.form__submit_active .form__circle {
  display: flex;
  width  : 100px;
  height : 100px;
  z-index: 2;

  fill             : none;
  stroke           : #ff4e2e;
  stroke-width     : 2px;
  stroke-linecap   : round;
  stroke-dasharray : 520 520;
  stroke-dashoffset: 520;
  pointer-events   : none;
  transform        : rotate(-90deg);

  animation: circle 2s ease-out .5s both;
}

.form__submit_active .form__img {
  position: absolute;

  display  : block;
  width    : 50px;
  height   : auto;
  z-index  : 1;
  animation: check .5s ease-out 1.5s both;
}

@media(min-width: 1024px) {
  .overlay_active .form {
    width : 350px;
    height: 350px;
  }

  .overlay_active .form_mail {
    height: 450px;
    width : 400px;
  }

  .form__btn_submit {
    padding: 15px 50px;
  }
}

@media(min-width: 1200px) {
  .overlay_active .form {
    width : 500px;
    height: 450px;
  }

  .overlay_active .form_mail {
    height: 550px;
    width : 450px;
  }

  .form__elem:not(:last-child) {
    margin-bottom: 20px;
  }
}


@keyframes circle {
  0% {
    stroke-dashoffset: 550;
  }

  50% {
    stroke-dashoffset: 0;
    stroke-dasharray : 520;
    transform        : rotate(-90deg) scale(1);
    opacity          : 1;
  }

  90%,
  100% {
    stroke-dasharray: 700 700;
    transform       : rotate(-90deg) scale(2);
    opacity         : 0;
  }
}

@keyframes fill {
  0% {
    background: #fff;

  }

  100% {
    background  : #fff;
    border-color: #ff4e2e;
  }
}

@keyframes check {
  0% {
    opacity: 0;
  }

  100% {
    z-index: 2;
    opacity: 1;
  }
}